<app-header></app-header>


<div class="container">
    <p style="text-align: center; font-size: 18px; color: #67C1F3 ;margin-top: 20px;">Commençons</p>
    <div class="row">
      <div class="col-md-6">
        <div class="section">
          <div class="text-center">
            <h2>Parents</h2>
            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/35036/family-father-mother-children-clipart-md.png" alt="Photo 1">
          </div>
          <div class="text-center">
            <a href="/parent-signup" id="start-btn" class="btn btn-primary">Je cherche un Babysitter</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="section">
          <div class="text-center">
            <h2>Etudiants</h2>
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/babysitter-reading-story-for-little-girl-6459388-5335169.png" alt="Photo 2">
          </div>
          <div class="text-center">
            <a href="/signup" id="start-btn" class="btn btn-primary">Je cherche un emploi</a>

          </div>

        </div>
      </div>
      <p style="font-size:10px; text-align: center; margin-bottom: 50px;">Vous avez déja un compte?  <a href="/signin" style="color: #FE904B;">Se connecter</a></p>


    </div>
    <div class="line"></div>
  </div>

