<app-header></app-header>

<div class="container">
  <form #parentsignupForm="ngForm" (ngSubmit)="onParentSignupSubmit()">

    <!-- Part 1 -->
    <div class="form-group">
      <p id="title">Créer un compte parent</p>
       <p style="font-size: 10px;">Vous avez déjà un compte ? <a href="/signin" style="color: #FE904B;">Se Connecter</a></p>
 </div>



    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name" placeholder="Entrez votre nom"  [(ngModel)]="form.name" name="name" required>
      </div>
    </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" placeholder="Entrez votre prénom"  [(ngModel)]="form.prenom" name="prenom" required >
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" id="adresse" placeholder="Entrez votre adresse" [(ngModel)]="form.adresse" name="adresse" required>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Entrez votre adresse email" [(ngModel)]="form.email" name="email" required>
          <div class="alert alert-danger" [hidden]="!error.email">
            {{error.email}}
        </div>
        </div>
      </div>
    </div>


    <p class="text-muted">Le mot de passe doit contenir au moins 8 caractères.</p>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe"
                 [(ngModel)]="form.password" name="password" required minlength="8">
          <div class="alert alert-danger" [hidden]="!error.password">
            {{error.password}}
          </div>
        </div>
      </div>




      <div class="col-md-6">
        <div class="form-group">
          <label for="repeteMotDePasse">Répéter le mot de passe</label>
          <input type="password" class="form-control" id="repeteMotDePasse" placeholder="Répétez votre mot de passe"[(ngModel)]="form.password_confirmation" name="password_confirmation" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="ville">ville</label>
      <input type="text" class="form-control" id="ville" placeholder="Entrez votre ville" [(ngModel)]="form.ville" name="ville" required>
    </div>

    <div class="form-group">
      <label for="situation">Situation</label>
      <select class="form-control" id="situation" [(ngModel)]="form.situation" name="situation" required>
        <option>En recherche d'emploi</option>
        <option>Salarié</option>
        <option>Retraité</option>
      </select>
    </div>

    <!-- Rest of the form... -->


    <!-- Part 3 -->
    <div class="form-group">
      <label for="nbEnfants">Combien d'enfants :</label>
      <input type="number" class="form-control" id="nbEnfants" placeholder="Entrez le nombre d'enfants" [(ngModel)]="form.nbenfant" name="nbenfant" >
    </div>


    <div class="form-group">
      <label for="ageEnfant">Quel âge a votre plus jeune enfant ?</label>
      <input type="number" class="form-control" id="ageEnfant" placeholder="Entrez l'âge de votre enfant"[(ngModel)]="form.agenfant" name="agenfant" >
    </div>


    <div class="form-group">
      <label for="traitsPersonnalite">3 traits de personnalité de mon baby-sitter idéal :</label>
      <textarea class="form-control" id="traitsPersonnalite" rows="3" placeholder="Entrez les traits de personnalité souhaités" [(ngModel)]="form.perso" name="perso" required></textarea>
    </div>
    <div class="form-group">
      <label for="heuresBabysitting">Heures de babysitting par semaine :</label>
      <select class="form-control" id="heuresBabysitting" [(ngModel)]="form.heure" name="heure" required>
        <option>De 0 à 5 heures</option>
        <option>De 5 à 10 heures</option>
        <option>De 10 à 15 heures</option>
        <option>De 15 à 20 heures</option>
        <option>De 20 à 25 heures</option>
        <option>+ de 25 heures</option>
      </select>
    </div>

    <!-- Part 4 -->
    <div class="form-group">
      <label for="annonceTexte">Rédigez la plus belle des annonces</label>
      <textarea class="form-control" id="annonceTexte" rows="5" placeholder="Entrez votre texte" [(ngModel)]="form.annonce" name="annonce" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!parentsignupForm.valid">Envoyer</button>

  </form>
</div>
