<label class="dropdown">

  <div class="dd-button">
    Dropdown
  </div>

  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
    <li>Action</li>
    <li>Another action</li>
    <li>Something else here</li>
    <li class="divider"></li>
    <li>
      <a href="http://rane.io">Link to Rane.io</a>
    </li>
  </ul>

</label>



<a class="nav-link" routerLink="/signin" >Deconnexion</a>




      <div class="dropdown">
        <div class="btn btn-outline-success my-2 my-sm-0">
          Connexion
        </div>
        <input type="checkbox" class="dd-input" id="test">
        <ul class="dd-menu">

          <li>
            <a class="nav-link" routerLink="/signin">Parent</a>
          </li>

          <li>
            <a class="nav-link" routerLink="/loginbabysitter">Etudiant</a>
          </li>

        </ul>
      </div>
