<app-header></app-header>


<div class="container">
    <section class="hero-section">
      <div class="row">
        <div class="col-md-6">
          <h1>Des étudiants <span class="blue-text">qualifiés</span> aux services de vos enfants </h1>
          <p >Notre service a pour objectif de satisfaire vos besoins parentaux en offrant une solution pratique et fiable.<br>
            En tant que plateforme dédiée au babysitting, Nous<br> vous aideras a trouver un babysitter de confiance pour<br> vos enfants afin de soulager le stress de votre quotidien.
            </p>
            <br>
          <a href="/reseau" id="start-btn" class="btn btn-primary">Commencer</a>
<br>
<br>
<br>

        </div>
        <div class="col-md-6 d-flex align-items-center">
          <img src="https://t3.ftcdn.net/jpg/04/20/65/24/360_F_420652454_akaDUNChgsK59QHjzYmd19oW96r8Hx3h.jpg" alt="Babysitter" class="img-fluid"
          id="firstimg">
        </div>
      </div>
    </section>


    <section class="services-section">
        <h1  style="margin-bottom: 32px;">Nos Services</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="circle-card">
              <img src="https://cdn-icons-png.flaticon.com/512/3713/3713190.png" class="circle-card-img" alt="Service 1">
              <div class="circle-card-body">
              </div>
            </div>
            <h5 class="circle-card-title">Babysitting à temps plein </h5>

          </div>
          <div class="col-md-4">
            <div class="circle-card">
              <img src="https://cdn-icons-png.flaticon.com/512/773/773228.png" class="circle-card-img" alt="Service 2">
              <div class="circle-card-body">
              </div>
            </div>
            <h5 class="circle-card-title">Soutien scolaire</h5>
          </div>
          <div class="col-md-4">
            <div class="circle-card">
              <img src="https://cdn-icons-png.flaticon.com/512/831/831682.png" class="circle-card-img" alt="Service 3">
              <div class="circle-card-body">
              </div>
            </div>
            <h5 class="circle-card-title">Babysitting à temps partiel</h5>
          </div>
        </div>
      </section>
    </div>


      <section class="blue-section">
        <div class="ct">
          <div class="row">
            <div class="col-md-6">
              <h2 class="section-title">Vos enfants sont entre de bonnes mains grâce à nos baby-sitters de confiance.




              </h2>
              <p class="section-description">Nous croyons fermement en la sécurité et le bien-être de vos enfants, c'est pourquoi nous nous assurons que chaque étudiant candidat passe par un processus d'évaluation minutieux avant d'être accepté dans notre équipe. Cette procédure garantit que seuls les individus compétents, responsables et dignes de confiance rejoignent notre réseau de babysitters!</p>
              <a href="/process" id="other-btn" class="btn btn-primary">En savoir plus sur le réseau vérifié</a>

            </div>
            <div class="col-md-6">
              <img src="https://www.wageloch.com.au/app/uploads/2022/10/Childcare-and-Education-banner.png" alt="Photo" class="img-fluid">
            </div>
          </div>
        </div>
      </section>


      <section class="last-section">
        <h1  style="margin-bottom: 35px;text-align: center;">LES FAMILLES QUI NOUS FONT CONFIANCE</h1>
        <div class="ct1">
          <div class="row">
            <div class="col-md-4">
              <div class="review-box">
                <i class="fas fa-user" style="color: #207198;"></i>
                <div class="stars">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                </div>
                <p>J'ai utilisé cette application pour trouver une babysitter de confiance pour mes enfants, et je suis extrêmement satisfait du service. Les profils détaillés, les évaluations et les antécédents vérifiés m'ont permis de choisir la personne idéale en toute tranquillité. Je recommande vivement cette plateforme pour les parents occupés!</p>
                <p>- Mariem Abbasi -</p>

              </div>
            </div>
            <div class="col-md-4">
              <div class="review-box">
                <i class="fas fa-user" style="color: #207198;"></i>
                <div class="stars">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                </div>
                <p>La sécurité de mes enfants est ma priorité, et cette application l'a compris. Les contrôles de sécurité approfondis, les vérifications d'identité et le support client réactif m'ont convaincu que je pouvais faire confiance à cette plateforme. Je me sens en sécurité chaque fois que je laisse mes enfants entre les mains d'une babysitter trouvée ici.</p>
                <p>- Asma Ben Ahmed -</p>

              </div>
            </div>
            <div class="col-md-4">
              <div class="review-box">
                <i class="fas fa-user" style="color: #207198;"></i>
                <div class="stars">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                </div>
                <p>En tant que parent, je recherchais une babysitter qui pouvait non seulement prendre soin de mes enfants, mais aussi les aider avec leurs devoirs. J'ai eu la chance de trouver un étudiant talentueux sur cette plateforme. Il est devenu plus qu'un babysitter, il est un véritable soutien scolaire pour mes enfants. Mes enfants progressent bien à l'école grâce à son aide.</p>
                <p>- Henda Elloumi -</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <app-footer></app-footer>
